extends ../layout

block content
  .index-header
    .container
      .index-header-logo
      .index-header-logo-text
      ul.index-header-nav
        li.item
          a(href="/") 首页
        li.item
          a(href="brandMarketing") 品牌营销
        li.item
          a(href="Filmproduction") 影视制作
        li.item
          a(href="Eventplanning") 活动策划
        li.item.active
          a(href="AboutUs") 关于我们
        li.item
          a(href="Contactus") 联系我们
  img.revealOnScroll(src="/images/AboutUs-banner.png" style="max-width:100%;")
  .index-aboutUs(style="background-color: #fbfbfb")
    .container
      .row
        .col-md-5
          img.revealOnScroll.img3(src="/images/index-aboutUs.png" style="max-width:100%;")
        .col-md-7
          img.revealOnScroll.img4(src="/images/index-aboutUs-image.png" style="max-width:100%;")
    .container
      .row
        p.revealOnScroll.text-muted.h4(style="line-height:30px;text-indent: 2em;margin-top:10%;") #{introduce}
  .AboutUs-News(style="background-color: #f5f5f5;")
    .container
      .row
        .col-xs
          img.an-mg1.revealOnScroll(src="/images/AboutUs-News-Img.png")
          img.an-mg2.revealOnScroll(src="/images/AboutUs-News-Img-2.jpg")
        .col-xs
          each item in news
            p: a.text-muted.h1.an-p1(href="/new1/#{item._id}" style="padding-top:15%;"  target="_blank")= item.mouth
            p: a.text-muted.h3.an-p2(href="/new1/#{item._id}"  target="_blank")= item.year
            p: a.text-muted.h4.an-p3(href="/new1/#{item._id}"  target="_blank")= item.title
            p.an-p: a.text-muted.h4(href="/new1/#{item._id}"  target="_blank")= item.summary
            br
            hr
  .AboutUs-Content(style="background-color: #f5f5f5;")
    .container
      .row(style="margin-top:20%;margin-bottom:20%;")
        .col-md-4.col-sm-4.revealOnScroll
          img.ac-cg(src="images/AboutUs-Content-Diamonds.png" style="max-width:100%")
          p.ac-cg1.text-muted.h3 品牌策划
          p.ac-cg2.text-muted.h5.ac-p1 活动前期的整体策划到现场执行、后期宣传，为<br>&nbsp;&nbsp;&nbsp;&nbsp;您提供一站式的专业服务，资深的创意策划<br>&nbsp;&nbsp;&nbsp;&nbsp;人员及统筹人员以及丰富的组织和实践经验
        .col-md-4.col-sm-4.revealOnScroll
          img.ac-cg(src="images/AboutUs-Content-Diamonds.png" style="max-width:100%")
          p.ac-cg1.text-muted.h3 影视制作
          p.ac-cg2.text-muted.h5.ac-p1 用视觉传播塑造企业形象，专业的影视制作团队<br>&nbsp;&nbsp;&nbsp;&nbsp;8年的实战经验总结和众多的成功案例，一直<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;追求创意思维+高效执行
        .col-md-4.col-sm-4.revealOnScroll
          img.ac-cg(src="images/AboutUs-Content-Diamonds.png" style="max-width:100%")
          p.ac-cg1.text-muted.h3 公关活动
          p.ac-cg2.text-muted.h5.ac-p1 能够快速有效的找到出现问题的根源，对症下药<br>&nbsp;&nbsp;&nbsp;&nbsp;将企业面临的风险化到最小，将不利变为<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;有利，发挥最大的公关效果
  .index-team
      .container
        .row
          .col-md-5(style="margin-top:10%;")
            p.revealOnScroll(style="font-size: 26px;line-height: 84px;font-weight: 900;color: #423832;") #{teamP1}
            p.revealOnScroll(style="font-style: 14px;color: #9c9c9b;") TEAM
          .col-md-7(style="margin-top:10%;")
            p.revealOnScroll.text-muted.h4(style="line-height: 30px;color: #423832;") 我们的生存，就是在恶劣的环境中坚强地创造生存空间；我们的团队，就是在充满争斗的对手中组织强大的团队力量；我们的智慧，就是在强着之列不断竞争、超越！
      .container
        .row(style="margin-top:10%;margin-bottom:20%;")
          .div6
            img.revealOnScroll.it-mg(src="/images/index-team-1.png" style="float:left;")
            img.revealOnScroll.it-mg(src="/images/index-team-2.png" style="float:left;")
            img.revealOnScroll.it-mg(src="/images/index-team-3.png" style="float:left;")
            img.revealOnScroll.it-mg(src="/images/index-team-4.png" style="float:left;margin-left:1%;;")