extends ../layout

block content
  .index-header
    .container
      .index-header-logo
      .index-header-logo-text
      ul.index-header-nav
        li.item.active
          a(href="/") 首页
        li.item
          a(href="brandMarketing") 品牌营销
        li.item
          a(href="Filmproduction") 影视制作
        li.item
          a(href="Eventplanning") 活动策划
        li.item
          a(href="AboutUs") 关于我们
        li.item
          a(href="Contactus") 联系我们
  script.
    $(document).ready(function(e) {

            var unslider = $('.banner').unslider({

            dots: true

          }),

          data = unslider.data('unslider');

          

          $('.unslider-arrow').click(function() {

                var fn = this.className.split(' ')[1];

                data[fn]();

            });

        });

    myFocus.set({
      id:'picBox',
      pattern:'mF_YSlider',
      loadIMGTimeout:"0.5"
     })
  .banner
    ul
      li
        img(src="/images/banner-1.png" alt="" style="max-width: 100%;")
      li
        img(src="/images/banner-2.png" alt="" style="max-width: 100%;")
      li
        img(src="/images/banner-3.png" alt="" style="max-width: 100%;")
      li
        img(src="/images/banner-4.png" alt="" style="max-width: 100%;")
    a(href="javascript:void(0);" class="unslider-arrow prev")
      img(class="arrow" id="al" src="/images/arrowl.png" alt="prev" width="20" height="35")
    a(href="javascript:void(0);" class="unslider-arrow next")
      img(class="arrow" id="ar" src="/images/arrowr.png" alt="next" width="20" height="37")
  .index-aboutUs(style="background-color: #fbfbfb")
    .container
      .row
        .col-md-5
          img.revealOnScroll.img3(src="/images/index-aboutUs.png" style="max-width:100%;")
        .col-md-7
          img.revealOnScroll.img4(src="/images/index-aboutUs-image.png" style="max-width:100%;")
    .container
      .row
        p.revealOnScroll.text-muted.ib-p1(style="line-height:30px;text-indent: 2em;margin-top:10%;") #{introduce}
  .index-madeVideo
    .div1(style="position:absolute;")
      img(src="/images/index-madeVideo.png" style="max-width:100%;")
    .container()
      .row
        .col-md-5.zzc6
          img.revealOnScroll.img5(src="/images/index-madeVideo-icon.png" style="float:left;")
          p.revealOnScroll.text-muted.h3.im-p2 影视制作
          p.revealOnScroll.text-muted.h4.im-p3 #{madeVideoP1}
          p.revealOnScroll.text-muted.h4.im-p1 用视觉传播塑造企业形象，专业的影视制作团队，<br>8年的实战经验总结和众多的成功案例，一直追求<br>创意思维+高效执行
          a(href="Filmproduction")
            .revealOnScroll.frame.text-muted.h4.im-p4 查看更多 >>
  .index-ad
    .div2(style="position:absolute;")
      img(src="/images/index-ad.png" style="max-width:100%;")
    .container
      .row
        .col-md-5.col-sm-5.col-xs-5
          a(href="http://static.youku.com/v20170320.0/v/swf/upsplayer/loader.swf?VideoIDS=XNDM1MTcyNzgw&embedid=MTE2LjExMi4xMi43OQIxMDg3OTMxOTUCd3d3LmZiMTE3MjY1NTcuaWNvYy5tZQIv&wd=&winType=BDskin&cna=aQmtDzn2NxQCAXxDIkxSV9ol&partnerid=0edbfd2e4fc91b72&vext=pid%253D0edbfd2e4fc91b72%2526emb%253DMTE2LjExMi4xMi43OQIxMDg3OTMxOTUCd3d3LmZiMTE3MjY1NTcuaWNvYy5tZQIv%2526bc%253D%2526cna%253DaQmtDzn2NxQCAXxDIkxSV9ol%2526vvlogext%253Dpc_i%25253D14775620507855Ny%252526pc_u%25253D-%252526rvpvid%25253D-%252526rycid%25253D-%252526yvft%25253D1494180527000%252526vsidc%25253D1%252526seid%25253D1494230608122J52%252526vstp%25253D2%252526svstp%25253D1%2526type%253D0%2526embsig%253D1_1494230608_64ebc44f802b8c44bb8c95b7bcc8862e" target="_blank")
            img.revealOnScroll.im6.video(src="/images/index-ad-button.png" style="max-width:100%;")
        .col-md-7.col-sm-7.col-xs-7
          p.revealOnScroll.ia-p1 #{indexadP1}
          p.revealOnScroll.text-muted.h4.ia-p2(style="") #{indexadP2}
          a(href='brandMarketing')
            img.revealOnScroll.ia-m1(src="/images/index-ad-arrow.png")
  .index-activityPlanning
    .container
      .row
        .col-md-4.col-sm-4
          p.revealOnScroll.iag-p1 #{activityPlanningp1}
          p.revealOnScroll.iag-p2(style="color: #9c9c9b;") #{activityPlanningp2}
          p.revealOnScroll.iag-p3 #{activityPlanningp3}
          a(href="Eventplanning")
            .revealOnScroll.frame.text-muted.h4.iag-p4 查看更多 >>
        .col-md-8.col-sm-8
          #picBox(style="")
            .pic
              ul
                li
                  img(src="/images/pixBox2-1.png")
                li
                  img(src="/images/pixBox2-2.png")
                li
                  img(src="/images/pixBox2-3.png")
  .index-COMMERCIALPHOTOGRAPHY(style="background-color:#f5f5f5")
    .container
      .row
        .col-md-5.col-sm-5.col-xs-5
          .div3(style="position:absolute;")
            img.revealOnScroll.ic-im1(src="/images/index-COMMERCIALPHOTOGRAPHY-1.png")
          img.revealOnScroll.ic-im2(src="/images/index-COMMERCIALPHOTOGRAPHY.png")
        .col-md-7.col-sm-7.col-xs-7(style="margin-top:5%;")
          p.revealOnScroll.ic-p1 #{COMMERCIALPHOTOGRAPHYP1}
          p.revealOnScroll.ic-p2 #{COMMERCIALPHOTOGRAPHYP2}
          p.revealOnScroll.ic-p3 #{COMMERCIALPHOTOGRAPHYP3}
          a(href="Filmproduction")
            .revealOnScroll.frame.text-muted.h4 查看更多 >>
          img.revealOnScroll.ic-im3(src="/images/index-COMMERCIALPHOTOGRAPHY-2.png")
          img.revealOnScroll.ic-im4(src="/images/index-COMMERCIALPHOTOGRAPHY-3.png")
          img.revealOnScroll.ic-im5(src="/images/index-COMMERCIALPHOTOGRAPHY-4.png")
  .index-team
    .container
      .row
        .col-md-5(style="margin-top:10%;")
          p.revealOnScroll.it-p1 #{teamP1}
          p.revealOnScroll.it-p2 TEAM
        .col-md-7(style="margin-top:10%;")
          p.revealOnScroll.text-muted.h4.it-p3 #{teamP2}
    .container
      .row(style="margin-top:10%;margin-bottom:20%;")
        .div6
          img.revealOnScroll.it-mg(src="/images/index-team-1.png" style="float:left;")
          img.revealOnScroll.it-mg(src="/images/index-team-2.png" style="float:left;")
          img.revealOnScroll.it-mg(src="/images/index-team-3.png" style="float:left;")
          img.revealOnScroll.it-mg(src="/images/index-team-4.png" style="float:left;margin-left:1%;;")
  //- .index-images
  //-   .row
  //-     .col-md-4.col-sm-4.col-xs-4
  //-       img.revealOnScroll(src="/images/index-images-1.png" style="max-width:100%;")
  //-     .col-md-4.col-sm-4.col-xs-4
  //-       img.revealOnScroll(src="/images/index-images-2.png" style="max-width:100%;")
  //-     .col-md-4.col-sm-4.col-xs-4
  //-       img.revealOnScroll(src="/images/index-images-3.png" style="max-width:100%;")